<figure>
   <IMG SRC="https://mamba-python.nl/images/logo_basis.png" WIDTH=125 ALIGN="right">
   
</figure>

#  1. Gebruik stack overflow
    
Deze notebook bevat een korte introductie van stack overflow en aantal opgaves om te leren werken met stack overflow.

### Inhoudsopgave<a id="top"></a>
1. [Introductie](#Introductie)
2. [Oefeningen algemeen](#Oefeningen-algemeen)
3. [Oefeningen pandas](#Oefeningen-pandas)

## 1. [Introductie](#top)<a id="Introductie"></a>

## 2. [Oefeningen algemeen](#top)<a id="Oefeningen-algemeen"></a>

#### Opgave 1 <a name="opdr1"></a>

Herschrijf deze for-loop en maak daarbij gebruik van de `enumerate` functie. Maak gebruik van deze stackoverflow vraag:
https://stackoverflow.com/questions/22171558/what-does-enumerate-mean

In [14]:
waarden =[1,16,64,144]
for i in range(len(waarden)):
    if i != 0:
        print(waarden[i]/(i*4))
    else:
        print(float(waarden[i]))

1.0
4.0
8.0
12.0

<a href="#antw1">Antwoord Opgave 1</a>

## 3. [Oefeningen pandas](#top)<a id="Oefeningen-pandas"></a>

#### Opgave 6 <a name="opdr6"></a>

Hieronder zijn twee DataFrames gedefinieerd. Voeg deze DataFrames samen zodat het volgende DataFrame onstaat:

<img src="data/df_out.JPG" width="200" height="100">

Maak gebruik van de `DataFrame.set_index` method en de `pd.concat` functie. Kom je er niet uit gebruik dan deze stackoverflow antwoorden:
- https://stackoverflow.com/questions/28135436/concatenate-rows-of-two-dataframes-in-pandas
- https://stackoverflow.com/questions/42196337/dataframe-set-index-not-setting

In [4]:
import pandas as pd
from IPython.display import display
df1 = pd.DataFrame({'naam': ['Nikita' ,'Ali', 'Henk'],
                    'huisdier': ['rat' ,'schaap' ,'boa constrictor']})
df2 = pd.DataFrame({'naam': ['Nikita' ,'Ali', 'Angela'],
                    'woning': ['flat', 'boerderij', 'villa']})

In [2]:
# voeg hier je code in

<a href="#antw6">Antwoord Opgave 6</a>


## [6. Answers](#top)<a id="6"></a>

#### <a href="#opdr1">Antwoord Opgave 1</a> <a name="antw1"></a>

In [ ]:
waarden =[1,16,64,144]
for i, val in enumerate(waarden):
    if i != 0:
        print(val/(i*4))
    else:
        print(float(val))

#### <a href="#opdr6">Antwoord Opgave 6</a> <a name="antw6"></a>

In [3]:
df1 = pd.DataFrame({'naam': ['Nikita' ,'Ali', 'Henk'],
                    'huisdier': ['rat' ,'schaap' ,'boa constrictor']})
df2 = pd.DataFrame({'naam': ['Nikita' ,'Ali', 'Angela'],
                    'woning': ['flat', 'boerderij', 'villa']})
df1.set_index('naam', inplace=True)
df2.set_index('naam', inplace=True)
df_out = pd.concat([df1, df2], axis=1)
display(df_out)

               huisdier     woning
Nikita              rat       flat
Ali              schaap  boerderij
Henk    boa constrictor        NaN
Angela              NaN      villa