<figure>
   <IMG SRC="https://mamba-python.nl/images/logo_basis.png" WIDTH=125 ALIGN="right">
   
</figure>

#  Pandas exercise

This exercise is used as an introduction to the `pandas` package for data analysis. In the exercise you will be using data from the Dutch metereological organisation (KNMI).

### Table of content<a id="top"></a>
1. [Import](#1)
2. [Series](#2)
3. [Series attributes](#3)
4. [Series methods](#4)
5. [DataFrame](#5)
6. [Read data](#6)
7. [Manipulate DataFrames](#7)
8. [Dealing with Dates](#8)
9. [Plotting](#9)
10. [Writing data](#10)
11. [Advanced analyses](#11)

### [1. Import packages ](#top)<a id="1"></a>

Pandas is usually imported as `pd`.

In [ ]:
import pandas as pd

### [2. Series](#top)<a id="2"></a>

The pandas package can be used to analyse Data and has many similarities with Excel. The difference is in the way you control the program. In Excel you can use your mouse to click on the data and modify it. With pandas you have to write code to manipulate the data. 

You usually start with some data. Pandas has roughly two data structures to store data:
1. Series: A one-dimensional, labelled array, for example a time series of groundwater heads where the label of each measurement is the measurmeents data. Similar to an excel sheet with 2 columns.
2. DataFrame: A two-dimensional, tabular, data structure where each data point is labelled by a column name and a row name. For example a list with well locations where each location has an x and a y coordinate. Similar to an Excel spreadsheet with more than 2 columns.

The easiest way to create a Series is by manually entering the data. Below we create a Series with the weight op some animal species.

In [ ]:
s = pd.Series(
    index=["cow", "horse", "chicken"], data=[656.0, 450.0, 3.8], name="weight"
)

The Series is created and assigned to the variable `s` . To see the data we can print the Series:

In [ ]:
print(s)

### [3. Series attributes](#top)<a id="3"></a>

Our Series has many attributes, for example:
- index
- values
- name
- shape
- dtype

You can get the value of an attribute using the variable name `s` followed by a dot `.` and the name of the attribute. We do this for the `index` and the `values` attributes.

In [ ]:
s.index

In [ ]:
s.values

In the code cells above you can see the difference between the `values` and the `index` . A Series can be used to obtain data based on the index. For this you can use `loc` or `iloc`.

In the cell below we obtain the weight of a cow using `loc`.

In [ ]:
s.loc["cow"]

Or we can do the same usin `iloc`.

In [ ]:
s.iloc[0]

#### Exercise 1 <a name="opdr1"></a>
Write the code to get the weight of the chicken using `iloc`. Type your code below.

<a href="#antw1">Answer Exercise 1</a>

### [4. Series Methods](#top)<a id="4"></a>

A Series contains methods to analyse it's data. For exampke, you can calculate the mean weight of all animals using the code below.

Note: You always have to add parenthesis `()` at the end of a method.

In [ ]:
s.mean()

You can get the maximum weight using `max()`

In [ ]:
s.max()

It is also possible to get some descriptive statistics using the the `describe` method.

In [ ]:
s.describe()

#### Exercise 2  <a name="opdr2"></a>

The result of `s.describe()` is another pandas Series. You can assign this Series to another variable, for example using `stats = s.describe()`. Create a variable with the results of `s.describe()` and use `loc` to obtain the 25% percentile.

<a href="#antw2">Answer Exercise 2</a>

### [5. DataFrame](#top)<a id="5"></a>

When you have two dimensional data you can use a pandas `DataFrame`. We create a DataFrame with the latitude, longitude and inhabitants for 3 import cities.

In [ ]:
df = pd.DataFrame(
    index=["London", "Rome", "Villa Bartolomea"],
    data={
        "lat": [51.5064, 41.8986, 45.1580],
        "lon": [-0.1388, 12.4789, 11.3572],
        "inhabitants": [9748000, 4332000, 5500],
    },
)

Just like a Series we can print the DataFrame to see the data.

In [ ]:
print(df)

Besides the `print` function you can also use the `display` function to get a more visually pleasing representation of the DataFrame.

Note: the display function can only be used in iPython and not with plain Python.

In [ ]:
display(df)

Just like a Series a DataFrame has the attributes `index`, `values` and `shape`. Additionally, a DataFrame has the attribute `columns`. These are the labels used for every column. A data point in a DataFrame is defined by a row label (the index) and a column label (the columns). Every value in a single column should be of the same data type. The column names and types can be accessed using the `dtypes` attribute.

In [ ]:
df.columns

In [ ]:
df.dtypes

To obtain a single value from a DataFrame you can use `loc` and `iloc`. With a Series you can just specify the index label, for a DataFrame you have to specify both an index label and a column label e.g. `df.loc[<index label>,<column label>]`. Using the code below we obtain the longitude of Rome.

In [ ]:
df.loc['Rome', 'lon']

#### Exercise 3  <a name="opdr3"></a>

Get the number of inhabitants of Villa Bartolomea using `loc`.

<a href="#antw3">Answer Exercise 3</a>

We can also get some statistics for a DataFrame. By default the statistics are calculated for every column. See the examples below.

In [ ]:
df.max()

In [ ]:
df.describe()

Sometimes you are only interested in a single column. You can obtain a single column from a DataFrame using the square brackets `[]`. This will return a Series.

In [ ]:
s = df['inhabitants']
s

#### Exercise 4  <a name="opdr4"></a>

The result of `df.decribe()` is also a pandas `DataFrame` (see above). Assigne the result of `df.describe()` to a variable en show the statistics for the column `inhabitants`.

<a href="#antw4">answerExercise 4</a>

### [6. Read files](#top)<a id="6"></a>

Usually you have datasets in a certain file format (e.g. a .csv file). You don't have to copy and paste the values in your code because you can directly read the data into a DataFrame. For reading .csv files you can use the `pd.read_csv` function. For other file formats there are other read functions in pandas.

When you read a file using the pandas read functions you usually have to specify some settings such as the seperator character, the decimal indicator, a number of rows to be skipped, etc. It usually takes a bit of trial and error to find the appropiate settings to read the data correctly. Once you have accomplished this other actions will be a lot faster.

Below you find the code to read a csv file with data from the Dutch meteorological institute (KNMI). The file 'etmgeg_240.txt' is already in your course material.

In [ ]:
df_knmi = pd.read_csv("etmgeg_240.txt", skiprows=47, index_col="YYYYMMDD", 
                     parse_dates=[1])

The settings for reading the file are given to the `read_csv` function as function arguments. The first argument `etmgeg_240.txt` is the name of the file. Because the file is in the same directory as this notebook Python can find it. All the other arguments in the `pd.read_csv` function have a default value and we only have to change it if the default value is not applicable for our file. The arguments we defined are:
- `skiprows`: In our case the first 47 rows of the file contain metadata and do not have a tabluar structure. With this arguments we skip these lines.
- `index_col`: It is often a good idea to choose one column as the index column. The index column can be used later as a label to obtain the data. It is a good idea to choose a column with unique values for each row. In our case we choose the `YYYYMMDD` column because it has a unique date for each row.
- `parse_dates`: This is a more advanced option to tell the `read_csv` function that the second column contains dates and the values should be interpreted as date values.

Note: you might also see a red warning appear when you run the code. This is just a warning that your code may be slow and a possible way to solve this. Since the code is not really that slow we choose to ignore this warning.

When you have succesfully read the .csv file into a DataFrame you can list the first 5 rows using the `df.head()` method.

In [ ]:
df_knmi.head()

#### Exercise 5  <a name="opdr5"></a>

Obtain the number of rows and columns from the `DataFrame` you've read above.

<a href="#antw5">Answer Exercise 5</a>

### [7. Manipulating DataFrames](#top)<a id="7"></a>

It is a good habit to check your DataFrame after you have read it and see if everything was interpreted correctly. We will do this now for the DataFrame with meteorological data.

First we have a look at the columns. Annoyingly we still have some spaces in the column names.

In [ ]:
df_knmi.columns

After this we check the datatype per column. When we want to do calculations with the data in a columns we have to make sure that the data is of a numeric type (int or float). The datatype 'object' is used for textual values. Looking at the dtype we can see that is not possible to perform calculations on all columns.

In [ ]:
df_knmi.dtypes

Now that we have checked our DataFrame we can manipulate it to our needs. First we will remove the spaces from the column names using a for-loop. For every column name `icol` we use the `strip()` method to remove any trailing spaces. The modified string is added to the list `new_names`.

In [ ]:
new_names = []
for icol in df_knmi.columns:
    new_names.append(icol.strip())
new_names

The list `new_names` can be used to overwrite the original column names with our modified names.

In [ ]:
df_knmi.columns = new_names

Check if everything worked according to plan:

In [ ]:
df_knmi.columns

### [8. Dealing with Dates](#top)<a id="8"></a>

When we read the meteo data file we set the index column with the datatype 'datetime'. Because of this we can now select specific periods rather easily. With the code below we only show the data for the year 2018.

In [ ]:
df_knmi.loc['2018']

If we combine this with only the columns "RH" (daily precipitation) and "EV24" (daily evaporation), we get this:

In [ ]:
df_knmi.loc["2018", ["RH", "EV24"]]

#### Exercise 6  <a name="opdr6"></a>

The column `TX` contains the maximum temperature in 0.1 degrees Celsius. Obtain the maximum temperature in 2018.

<a href="#antw6">Answer Exercise 6</a>

### [9. Plotting](#top)<a id="9"></a>

For the plotting we will only deal with precipitation and evaporation, therefore we take a subset of our DataFrame and assign it to the new variable `dfs`.

In [ ]:
dfs = df_knmi.loc[:, ["RH", "EV24"]]

Every DataFrame has a `plot` method, unfortunately when we call this we get an error:

In [ ]:
dfs.plot()

The error message tells us:

    TypeError: no numeric data to plot

This suggest that the data that we have does not have a numeric type. We can check this using the `dtypes` attribute.

In [ ]:
dfs.dtypes

We can see that both columns have the dtype 'object'. In order to plot the data the dtype should be 'int' or 'float'. We can use the `to_numeric` function to convert the datatype from 'object' to 'float'. We do this seperately for each column using a for-loop. Additionaly we use the keyword argument `errors='coerce'`, this will use a NaN (Not a Number) value for data that cannot be converted to a numeric type.

In [ ]:
for icol in dfs.columns:
    print(icol)
    dfs[icol] = pd.to_numeric(dfs[icol], errors="coerce")

Check if it worked:

In [ ]:
dfs.dtypes

Now we can plot!

In [ ]:
dfs.plot()

The data is show in the plot although it could look better. Below some ideas on how to improve the layout of a plot.

In [ ]:
ax = dfs.plot(figsize=(12,4))
ax.set_xlim('2017','2018')
ax.set_ylabel('0.1 mm/day')
ax.set_xlabel('')
ax.grid()

#### Exercise 7  <a name="opdr7"></a>

Plot the maximum temperature between 2000 en 2005.

<a href="#antw7">Answer Exercise 7</a>

### [10. Write](#top)<a id="10"></a>
It can be useful to write a `DataFrame` to a file to use later. This is easily done with the `to_..` methods. For example, to write our dataframe to a csv file we can use `df_knmi.to_csv('modified_timeseries.csv')`.

In [ ]:
df_knmi.to_csv('modified_timeseries.csv')

When you ran this code a .csv file is created named 'modified_timeseries.csv'. The file is saved in the same directory as this notebook. You can now open the file in a text editor or Excel.

#### Exercise 8  <a name="opdr8"></a>

Obtain the statistics from `df_knmi` using the `describe` method. Write these statistics to a .csv file named 'statistics.csv'. After you run the code you can ispect the file by cliking [here](statistics.csv).

<a href="#antw8">Answer Exercise 8</a>

### [11. Advanced analysis](#top)<a id="11"></a>

Below you find some examples of more advanced analysis you can do with pandas. There are no exercises for this.

Often we want to analyse yearly sums of precipitation or evaporation while the data is available as daily values. A useful method to convert our data to yearly sums is the `groupby` method. This is sort of similar to the `pivot` option in Excel.

When we look at the index we can see that the dtype is `datetime64[ns]`. This dtype has some neat options for dealing with dates.

In [ ]:
dfs.index

We can easily get the year of each date in the index.

In [ ]:
dfs.index.year

Or the day

In [ ]:
dfs.index.day

Using the `groupby` method we can group the data for each year

In [ ]:
gr = dfs.groupby(by=dfs.index.year)

Than we can choose how we want to aggregate the data for each year. Here we take the sum of all values for each year.

In [ ]:
gr.sum()

The result of the `df.groupby()` method is a `DataFrameGroupedBy` object which allows you to obtain a variation of statistics such as the mean: `gr.mean()`, median: `gr.median()` or the maximum `gr.max()`.

You can also loop over the groups in the `DataFrameGroupedBy` object to be even more flexible.

In [ ]:
for groupname, group in gr:
    # Only print the groups after 2016
    if groupname > 2016:
        print(groupname)
        display(group.head())

A bar plot is easily obtained

In [ ]:
gr.sum().plot.bar(figsize=(16, 6))

Another way of analyzing data is by calculating the cumulative sum. For this we use the precipitation minus the evaporation.

In [ ]:
no = dfs.loc["2018", "RH"] - dfs.loc["2018", "EV24"]

Now we can plot the cumulative precipitation, evaporation and recharge in the same plot.

In [ ]:
ax = dfs.loc["2018", "RH"].cumsum().plot(legend=True, figsize=(12,4))
dfs.loc["2018", "EV24"].cumsum().plot(ax=ax, legend=True)
no.cumsum().plot(ax=ax, label="Recharge", legend=True);

We can also use a DataFrame to check how often a condition is met. With the code below we check for each row if the precipitation was higher than 15.0 mm/day (the 150 is because the value is still in 0.1 mm/day).

In [ ]:
gt150  = dfs.loc[:, "RH"] > 15

`gt150` is now a pandas Series with only boolean values. The value is `True` if the precipitation is higher than 15.0 mm/dag and `False` if lower than 15.0 mm/day.

In [ ]:
gt150.head()

In Python True equals 1 and False equals 0. Thus if we take the sum of this Series we get the number of occurences when the precipitation was higher than 15.0 mm/day.

In [ ]:
gt150.sum()

We can also use the boolean series to obtain a subset of a DataFrame. Using the code below we get all the rows in our DataFrame where the precipitation is higher than 15.0 mm/day. This process is called boolean subsetting and is a very powerfull tool in pandas.

In [ ]:
dfs.loc[gt150]


## Answers

#### <a href="#opdr1">Answer Exercise 1</a> <a name="antw1"></a>

In [ ]:
s.iloc[2]

#### <a href="#opdr2">Answer Exercise 2</a> <a name="antw2"></a>

In [ ]:
stats = s.describe()
stats.loc['25%']

#### <a href="#opdr3">Answer Exercise 3</a> <a name="antw3"></a>

In [ ]:
df.loc['Villa Bartolomea', 'inhabitants']

#### <a href="#opdr4">Answer Exercise 4</a> <a name="antw4"></a>

In [ ]:
stats = df.describe()
s = stats['inhabitants']
print(s)

#### <a href="#opdr5">Answer Exercise 5</a> <a name="antw5"></a>

In [ ]:
df_knmi.shape
print(df_knmi.shape[0],' rijen')
print(df_knmi.shape[1],' kolommen')

#### <a href="#opdr6">Answer Exercise 6</a> <a name="antw6"></a>

In [ ]:
df_knmi.loc['2018','TX'].max()

In [ ]:
# Bonus: om de datum op te vragen wanneer dit op trad kunnen we idxmax() gebruiken:
df_knmi.loc['2018','TX'].idxmax()

#### <a href="#opdr7">Answer Exercise 7</a> <a name="antw7"></a>

In [ ]:
ax = df_knmi['TX'].plot(figsize=(12,6))
ax.set_xlim('2000','2005')
ax.set_ylabel('temperature (0.1$^\circ$C)')
ax.set_xlabel('')
ax.grid()

#### <a href="#opdr8">Answer Exercise 8</a> <a name="antw8"></a>

In [ ]:
stats = df_knmi.describe()
stats.to_csv('statistics.csv')