<figure>
   <IMG SRC="https://mamba-python.nl/images/logo_basis.png" WIDTH=125 ALIGN="right">

</figure>
    
    
# Object Oriented Programming

In this notebook you practise using the basics of Object Oriented Programming in Python. This notebook covers the following topics:

- how to create a class
- constructor (`__init__`)
- methods and attributes
- private vs. public methods

We will work with CSV files containing daily precipitation data from KNMI. The files are in the data folder of the current directory. 
<br>
<div style="text-align: right"> developed by MAMBA </div>

In [302]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import locale
import glob

# set local time to Dutch (used for month name e.g. 'mei' in 3 mei, 2020)
locale.setlocale(locale.LC_TIME, 'nl_NL.utf8')

'nl_NL.utf8'

#### Goal of the exercise;

There are multiple KNMI station with rainfall data. We want to create a class containing different methods and attributes such that we can easily
- Find which data files are available
- Read the data. E.g. the data should be read into a dataframe, the dates should get the right datatype.
- Analyze the data. E.g. compare maximum differences between stations.

The following exercises will help you built-up this class step by step

## Assingment 1: Defining the class & the __init__ method

Create a class called KNMI. Specify the constructor (`__init__`) method. 
The `__init__` method is always executed when you create an instance of your class. In our `__init__` method four attributes should be assinged, their names and values should be:
1. `source` (with value `'KNMI'`), 
2. `url`, with value `'https://weerdata.nl/'`
3. `stations` (an empty list)
4. `data` (should start as `None`)

To create the `__init__` method: 
- The init method is defined by stating `def __init__(self):` 
- An attribute can be assigned by stating `self.<attribute_name> = <value>`. 

Create an instance of your class and print the values of the attributes.

## Assignment 2: Create a method

Create a method called `find_available_files` which returns a list with all the files with precipitation (Neerslag in Ducht) data in the data folder. 

You can create a method in a similar way as a function. Your input arguments should be `self` (for all methods in a class) and  `path_to_folder`.

You can use the `glob.glob` function to list all files with a specified output format (e.g. `glob.glob(f"{path_to_folder}/*.csv")`).

Create an instance of your class & call your method. Print the available files.

## Assignment 3: Methods II

Create a method called `add_station` in your class that does the following:
1. given a path to a csv file and the station name (input parameters);
2. load that file into a pandas dataframe, with the dates as index. (specify using `index_col='Datum'`);
3. convert the date column to a datetime object (see tip I & II);
4. change the column name 'Neerslag [mm]' to the station name. You can use `df = df.rename('<oldName1>':'<newName1>')`;
5. append the station name to the `stations` attribute you defined in the `__init__` method;
6. add the dataframe to the `data` attribute. If it is the first added station (i.e. `data = None`), set attribute `data` to the new dataframe. Else, `join` the new dataframe with the existing dataframe.

Tip I: you can convert a string to a datetime object using the `strptime` function of the `datetime` package. https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes gives an overview of all the options you can choose. You'll need to look into the file to see what the date format looks like in your file. The format is the same for all files. 

Tip II: Pandas has the `to_datetime` function that can convert a whole column to datetimes. An example is given in the answer to this stack-overflow question. https://stackoverflow.com/questions/26763344/convert-pandas-column-to-datetime. 

Tip III: the first argument of the method should be `self`, followed by the names of your two other arguments. You don't need to specify `self` when you call the method from the instance of you class.

In [257]:
# examples string to datetime conversion:

# example 1 s
date_time_str = '2018-06-29 08::15::27'
date_time_obj = dt.datetime.strptime(date_time_str, '%Y-%m-%d %H::%M::%S')
print(date_time_obj)

# example 2
date_time_str_2 = '2018, jun 5, 16:00'
date_time_obj_2 = dt.datetime.strptime(date_time_str_2, '%Y, %b %d, %H:%M')
print(date_time_obj_2)

2018-06-29 08:15:27
2018-06-05 16:00:00

In [259]:
# check if the following gives the expected output:
knmi = KNMI()

knmi.add_station(r'./data/Neerslag_Tijdreeks-Rotterdam-.csv',
                 'Rotterdam')

print(knmi.stations)

knmi.data.head()

['Rotterdam']

            Rotterdam
Datum
2019-01-01        0.9
2019-01-02        0.4
2019-01-03        2.0
2019-01-04        0.2
2019-01-05        0.0

In [182]:
# this code should generate 

# 1. a list with stations 'Rotterdam' and 'Hoek van Holland'
# 2. A dataframe with dates as index, and precipitation data of the stations Rotterdam and HvH. 

knmi.add_station(r'./data/Neerslag_Tijdreeks-Hoek van Holland-.csv', 
                 'Hoek van Holland')

print(knmi.stations)

knmi.data.head()

['Rotterdam', 'Hoek van Holland']

            Rotterdam  Hoek van Holland
Datum
2019-01-01        0.9               0.3
2019-01-02        0.4               0.6
2019-01-03        2.0               0.9
2019-01-04        0.2               0.0
2019-01-05        0.0               0.1

### Asignment 4 - Private method: mean temperature difference per month

A private method is a method that should only be called by other methods, not by the user him/herself. You can create a private method by adding a single, trailing underscore `_` to the name of the method.

Create a private method called `_max_monthly_temp` that is only called within the `add_station` method. The `_max_monthly_temp` should calculate the maximal temperature per month over all stations. Assign the outcome to the attribute `max_measured_temp`. 

Adjust the method `add_station` to make sure that when new data is added, the max_measured_temp is automatically (re)calculated.

### Assignment 5: Plot the maximum difference per month over the stations

Create a figure. First add one station and plot the monthly_diff. Add 1 more station and plot the monthly differnce in the same graph. 
Add all stations and plot the monthly difference again in the same graph. 

See how the values automatically change when you add a station? Benefits of OOP!

### Assignment 6: arguments when initializing the class

Let's create a method `add_folder` and adjust the class so you can add a folder when creating an instance of your class. In the initialization, the data attribute should be filled with the data of all the files. 

Plot again the maximum difference of all stations (only one line this time). See how short and clear the script has become?

In [292]:
# This code should generate a dataframe with all the different stations in the columns, 
# and the dates in the index
knmi= KNMI(folder_path=r'.\data')
knmi.data

            Cabouw  De Bilt  Herwijnen  Hoek van Holland  Rotterdam  Schiphol
Datum
2019-01-01     1.0      0.4        0.8               0.3        0.9       0.5
2019-01-02     0.0      0.2        0.1               0.6        0.4       0.0
2019-01-03     0.0      0.0        0.0               0.9        2.0       0.0
2019-01-04     0.0      0.0        0.0               0.0        0.2       0.0
2019-01-05     0.5      0.3        0.4               0.1        0.0       0.1
...            ...      ...        ...               ...        ...       ...
2021-02-11     0.0      0.0        0.0               0.0        0.0       0.0
2021-02-12     0.0      0.0        0.0               0.0        0.0       0.0
2021-02-13     0.0      0.0        0.0               0.0        0.0       0.0
2021-02-14     0.0      0.0        0.0               0.0        0.0       0.0
2021-02-15     3.5      4.7        3.2               9.8        6.0       7.8

[777 rows x 6 columns]